.body__filter-buttons {
	padding: 0.5rem var(--gap-body-row) 0 var(--gap-body-row);
	background: var(--primary-light);
	color: var(--primary-dark);
	font-weight: bold;
	white-space: nowrap;
	position: sticky;
	top: 0;
	min-width: 17rem;
	z-index: 30;
	transition: all 0.8s ease-in-out;
}

.body__filter-buttons--invisible {
	display: none;
}

.body__filter-buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 0.09rem solid var(--primary-dark);
	gap: var(--gap-navigation-mobile);
	overflow: scroll;
	padding-bottom: 0.2rem;
}

.body__filter-buttons-allaccommodations,
.body__filter-buttons-beachfront,
.body__filter-buttons-amazing-views,
.body__filter-buttons-luxe,
.body__filter-buttons-amazing-pools,
.body__filter-buttons-cabins,
.body__filter-buttons-treehouses,
.body__filter-buttons-private-room {
	position: relative;
	margin-bottom: -0.2rem;
	opacity: 0.65;
}

.body__filter-buttons-allaccommodations:hover,
.body__filter-buttons-beachfront:hover,
.body__filter-buttons-amazing-views:hover,
.body__filter-buttons-luxe:hover,
.body__filter-buttons-amazing-pools:hover,
.body__filter-buttons-cabins:hover,
.body__filter-buttons-treehouses:hover,
.body__filter-buttons-private-room:hover {
	opacity: 1;
}

.body__filter-buttons--active {
	border-bottom: 0.2rem solid var(--primary-dark);
	opacity: 1;
}

.body__filter-buttons-container--animated {
	box-shadow: 0 0.0005rem 1rem var(--secondary-dark);
	transition: all 0.8s ease-in-out;
}

@media screen and (max-width: 900px) {
	.body__filter-buttons {
		padding: 0.5rem var(--gap-navigation) 0 var(--gap-navigation);
	}

	.body__filter-buttons-container {
		border-bottom: 0.09rem solid var(--primary-dark);
		gap: var(--gap-filter-buttons-mobile);
		justify-content: left;
	}
}	

@media screen and (max-width: 600px) {
	.body__filter-buttons {
		padding: 0.2rem 0.5rem 0.7rem 0.5rem;
		min-width: 17rem;
	}

	.body__filter-buttons-container button img {
		width: 1.8rem;
	}
}