.frontpage_accommodations {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	width: 70%;
	height: 100%;
	grid-gap: var(--gap-frontpage-grid);
	min-width: 17rem;
	z-index: 20;
}

.search-result__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	width: 100%;
	grid-gap: var(--gap-frontpage-grid);
	min-width: 17rem;
	z-index: 20;
}

.frontpage_accommodations--invisible {
	display: none;
}

.search-result {
	display: flex;
	flex-direction: column;
	width: 70%;
	display: none;
}

.search-result__header {
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	margin-bottom: 1rem;
}

.search-result__header h2 {
	color: var(--primary-dark);
}

.search-result__header button {
	background: url(/_app/assets/icons/close.svg) center / 2rem no-repeat;
	height: 2rem;
	width: 2rem;
}

.search-result--visible {
	display: flex;
}

.frontpage_accommodations__accommodation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2%;
	border-radius: var(--border-radius);
	cursor: pointer;
	box-shadow: 0 0.03rem 0.5rem var(--tertiary-light), 0 0.05rem 1rem var(--tertiary-light);
}

.frontpage_accommodations__accommodation:hover {
	box-shadow: 0 0.03rem 0.5rem var(--quaternary-light), 0 0.05rem 1rem var(--quaternary-light);
	transition: all 0.25s ease-in-out;
}	

.frontpage_accommodations__accommodation div {
	display: flex;
	position: relative;
	height: 13.5rem;
}

.frontpage_accommodations__accommodation-arrow-left,
.frontpage_accommodations__accommodation-arrow-right,
.frontpage_accommodations__accommodation-heart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	height: 1.5rem;
	/*display: none;*/
}

.frontpage_accommodations__accommodation-arrow-left,
.frontpage_accommodations__accommodation-arrow-right {
	background: var(--primary-dark-transparent);
	border-radius: 100%;
	padding: 0.4rem;
	width: 2rem;
	height: 2rem;
}

.frontpage_accommodations__accommodation-arrow-left:hover,
.frontpage_accommodations__accommodation-arrow-right:hover {
	background: var(--secondary-dark-transparent);
	transition: all 0.25s ease-in-out;
}

.frontpage_accommodations__accommodation-arrow-left img,
.frontpage_accommodations__accommodation-arrow-right img,
.frontpage_accommodations__accommodation-heart img {
	width: 100%;
}

.frontpage_accommodations__accommodation-image {
	width: 100%;
	object-fit: cover;
}

.frontpage_accommodations__accommodation h3 {
	font-size: var(--mobile-large-text-size);
	color: var(--primary-dark);
}

.frontpage_accommodations__accommodation h5 {
	font-size: var(--extra-small-text-size);
	color: var(--secondary-dark);
}

.frontpage_accommodations__accommodation span {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 0.4rem;
}

.frontpage_accommodations__accommodation span h4 {
	font-size: var(--extra-small-text-size);
}

.frontpage_accommodations__accommodation span h5 {
	margin-left: 0.2rem;
}

.frontpage_accommodations__accommodation-arrow-left {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translateY(-50%);
}

.frontpage_accommodations__accommodation-arrow-right {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}	

.frontpage_accommodations__accommodation-heart {
	position: absolute;
	top: 5%;
	right: 3%;
}

.main__button-scroll-up {
	position: fixed;
	right: var(--gap-button-scroll-up);
	bottom: var(--gap-button-scroll-up);
	width: 2.5rem;
	height: 2.5rem;
	animation: fade 0.6s ease-in-out;
	display: none;
	border-radius: 100%;
	z-index: 100;
	background: var(--primary-light-transparent);
}

.main__button-scroll-up:hover {
	background: var(--secondary-light);
}

.main__button-scroll-up img {
	padding: 0.2rem;
	width: 100%;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main__button-scroll-up--visible {
	display: block;
}

@media screen and (max-width: 900px) {
	.search-result__container,
	.frontpage_accommodations {
		margin-top: var(--gap-navigation-mobile);
		grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
		width: 100%;
		grid-gap: var(--gap-frontpage-grid-mobile);
	}

	.frontpage_accommodations__accommodation div {
		height: 9.5rem;
	}

	.frontpage_accommodations__accommodation h5 {
		font-size: var(--mobile-extra-small-text-size);
	}

	.frontpage_accommodations__accommodation h3 {
		font-size: var(--mobile-medium-text-size);
	}

	.frontpage_accommodations__accommodation span h4 {
		font-size: var(--mobile-small-text-size);
	}

	.frontpage_accommodations__accommodation span {
		margin-top: 0.2rem;
	}

	.main__button-scroll-up {
		right: var(--mobile-gap-button-scroll-up);
		bottom: var(--mobile-gap-button-scroll-up);
		width: 2.2rem;
		height: 2.2rem;
	}

	.search-result__container h3 {
		font-size: var(--extra-small-text-size);
	}

	.search-result__container h4 {
		font-size: var(--extra-small-text-size);
	}

	.search-result {
		font-size: var(--extra-small-text-size);
	}

	.search-result__header {
		margin-bottom: 0.5rem;
	}

	.search-result__header button {
		background: url(/_app/assets/icons/close.svg) center / 2rem no-repeat;
		height: 1rem;
		width: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.search-result__container,
	.frontpage_accommodations {
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	}

	.search-result__header button {
		background: url(/_app/assets/icons/close.svg) center / 2rem no-repeat;
		height: 1rem;
		min-width: 1rem;
	}

	.frontpage_accommodations__accommodation div {
		height: 10rem;
	}
}	