/*.header__modal-window {
	position: sticky;
	top: 0;
}*/

.main__modal-window {
	display: flex;
	flex-direction: column;
	/*margin: var(--gap-frontpage-grid) auto;*/
	margin: var(--gap-frontpage-grid) var(--gap-modal-window-body-row);
	gap: 0;
	color: var(--secondary-dark);
	animation: fade 0.3s ease-in-out;
	display: none;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main__modal-window--visible {
	display: flex;
}

.main__modal-window-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: var(--gap-modal-window-grid);
}

.main__modal-window-title h1 {
	font-size: var(--medium-text-size);
}

.main__modal-window-title h3 {
	font-size: var(--small-text-size);
	color: var(--tertiary-dark);
}

.main__modal-window-title button {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

.main__modal-window-title button img {
	width: 100%;
	height: 100%;
}

.main__modal-window-images {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 14vw 14vw;
	width: 100%;
	height: 100%;
	grid-gap: var(--gap-modal-window-grid);
}

.main__modal-window-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__modal-window-images img:nth-of-type(1) {
	grid-area: 1 / 1 / 3 / 2;
}

.main__modal-window-information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--gap-modal-window-form) 0;
	border-bottom: 0.09rem solid var(--primary-dark);
}

.main__modal-window-essentials h3 {
	font-size: var(--small-text-size);
	margin-bottom: var(--gap-modal-window-essentials);
}

.main__modal-window-essentials ul {
	margin-left: var(--gap-modal-window-grid);
	color: var(--tertiary-dark);
}

.main__modal-window-essentials ul li {
	margin: var(--gap-modal-window-essentials-li) 0;
	list-style: inside;
	font-size: var(--extra-small-text-size);
}

.main__modal-window-form {
	padding: var(--gap-modal-window-form);
	width: 40%;
	box-shadow: 0.2rem 0.2rem 2rem var(--tertiary-dark);
	border-radius: var(--border-radius);
}

.main__modal-window-form span {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.main__modal-window-form span h4 {
	margin-left: 0.2rem;
}


.main__modal-window-input-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main__modal-window-input {
	border: 0.09rem solid var(--tertiary-dark);
	border-radius: var(--border-radius);
	margin-top: var(--gap-modal-window-form);
}

.main__modal-window-input-date-checkin,
.main__modal-window-input-date-checkout {
	width: 50%;
	padding: var(--gap-modal-window-grid);
	overflow: hidden;
}

.main__modal-window-input-date-checkin {
	border-right: 0.09rem solid var(--tertiary-dark);
}

.main__modal-window-buttom-guests {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--gap-modal-window-form-button) var(--gap-modal-window-grid);
	width: 100%;
	border-top: 0.09rem solid var(--tertiary-dark);
}

.main__modal-window-input-options {
	display: none;
}

.main__modal-window-button-reserve {
	width: 100%;
	background: var(--primary-dark);
	color: var(--secondary-light);
	padding: var(--gap-modal-window-form-button);
	margin-top: var(--gap-modal-window-form-button);
	border-radius: var(--border-radius);
	margin-bottom: var(--gap-modal-window-form-button);
}

.main__modal-window-totalprice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 0.09rem solid var(--tertiary-dark);
	padding-top: var(--gap-modal-window-form-button);
}

.main__modal-window-map {
	margin: var(--gap-modal-window-form-button) 0;
	/*width: 100%;*/
}

.main__modal-window-map h3 {
	font-size: var(--small-text-size);
	margin-bottom: var(--gap-modal-window-form-button);
}

#main__modal-window-mapbox {
	width: 100%;
	height: 20vw;
	border-radius: var(--border-radius);
}

@media screen and (max-width: 1300px) {
	.main__modal-window {
		margin: var(--gap-frontpage-grid) var(--gap-body-row);
	}
}

@media screen and (max-width: 900px) {
	.main__modal-window {
		margin: var(--gap-frontpage-grid) var(--gap-navigation);
	}

	.main__modal-window-title h1 {
		font-size: var(--small-text-size);
	}

	.main__modal-window-title h3 {
		font-size: var(--extra-small-text-size);
	}

	.main__modal-window-form {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.main__modal-window {
		margin: 0.7rem 0.5rem;
	}

	.main__modal-window-images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50vw 25vw 25vw;
	}
	
	.main__modal-window-images img:nth-of-type(1) {
		grid-area: 1 / 1 / 1 / 3;
	}

	.main__modal-window-information {
		flex-direction: column;
	}

	.main__modal-window-form {
		margin-top: var(--gap-modal-window-form);
		width: 100%;
		padding: var(--gap-modal-window-form-button);
	}

	#main__modal-window-mapbox {
		height: 40vw;
	}
}	