.body__popup {
	display: flex;
	flex-direction: column;
	margin: var(--gap-frontpage-grid) var(--gap-popup-body-row);
	gap: 0;
	color: var(--secondary-dark);
	animation: fade 0.3s ease-in-out;
	display: none;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.body__popup--visible {
	display: flex;
}

.body__popup-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: var(--gap-popup-grid);
}

.body__popup-title h1 {
	font-size: var(--medium-text-size);
}

.body__popup-title h3 {
	font-size: var(--small-text-size);
	color: var(--tertiary-dark);
}

.body__popup-title button {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

.body__popup-title button img {
	width: 100%;
	height: 100%;
}

.body__popup-images {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 14vw 14vw;
	width: 100%;
	height: 100%;
	grid-gap: var(--gap-popup-grid);
}

.body__popup-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.body__popup-images img:nth-of-type(1) {
	grid-area: 1 / 1 / 3 / 2;
}

.body__popup-information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--gap-popup-form) 0;
	border-bottom: 0.09rem solid var(--primary-dark);
}

.body__popup-essentials h3 {
	font-size: var(--small-text-size);
	margin-bottom: var(--gap-popup-essentials);
}

.body__popup-essentials ul {
	margin-left: var(--gap-popup-grid);
	color: var(--tertiary-dark);
}

.body__popup-essentials ul li {
	margin: var(--gap-popup-essentials-li) 0;
	list-style: inside;
	font-size: var(--extra-small-text-size);
}

.body__popup-form {
	padding: var(--gap-popup-form);
	width: 40%;
	box-shadow: 0.2rem 0.2rem 2rem var(--tertiary-dark);
	border-radius: var(--border-radius);
}

.body__popup-form span {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.body__popup-form span h4 {
	margin-left: 0.2rem;
}

.body__popup-input-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.body__popup-input {
	border: 0.09rem solid var(--tertiary-dark);
	border-radius: var(--border-radius);
	margin-top: var(--gap-popup-form);
}

.body__popup-input-date-checkin,
.body__popup-input-date-checkout {
	width: 50%;
	padding: var(--gap-popup-grid);
	overflow: hidden;
}

.body__popup-input-date-checkin {
	border-right: 0.09rem solid var(--tertiary-dark);
}

.body__popup-buttom-guests {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--gap-popup-form-button) var(--gap-popup-grid);
	width: 100%;
	border-top: 0.09rem solid var(--tertiary-dark);
}

.body__popup-input-options {
	display: none;
}

.body__popup-button-reserve {
	width: 100%;
	background: var(--primary-dark);
	color: var(--secondary-light);
	padding: var(--gap-popup-form-button);
	margin-top: var(--gap-popup-form-button);
	border-radius: var(--border-radius);
	margin-bottom: var(--gap-popup-form-button);
	-webkit-appearance: none;
}

.body__popup-button-reserve:hover {
	background: var(--secondary-dark);
	transition: all 0.25s ease-in-out;
}

.body__popup-totalprice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 0.09rem solid var(--tertiary-dark);
	padding-top: var(--gap-popup-form-button);
}

.body__popup-map {
	margin: var(--gap-popup-form-button) 0;
}

.body__popup-map h3 {
	font-size: var(--small-text-size);
	margin-bottom: var(--gap-popup-form-button);
}

#body__popup-mapbox {
	width: 100%;
	height: 20vw;
	border-radius: var(--border-radius);
}

@media screen and (max-width: 1300px) {
	.body__popup {
		margin: var(--gap-frontpage-grid) var(--gap-body-row);
	}
}

@media screen and (max-width: 900px) {
	.body__popup {
		margin: var(--gap-frontpage-grid) var(--gap-navigation);
	}

	.body__popup-images {
		grid-gap: var(--gap-popup-grid-mobile);
	}

	.body__popup-title h1 {
		font-size: var(--small-text-size);
	}

	.body__popup-title h3 {
		font-size: var(--extra-small-text-size);
	}

	.body__popup-form {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.body__popup {
		margin: 0.7rem 0.5rem;
	}

	.body__popup-images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50vw 25vw 25vw;
	}
	
	.body__popup-images img:nth-of-type(1) {
		grid-area: 1 / 1 / 1 / 3;
	}

	.body__popup-information {
		flex-direction: column;
	}

	.body__popup-form {
		margin-top: var(--gap-popup-form);
		width: 100%;
		padding: var(--gap-popup-form-button);
	}

	.body__popup-map {
		margin: var(--gap-popup-form-button) 0 0 0;
	}

	#body__popup-mapbox {
		height: 40vw;
	}
}	